{% extends 'base.html.twig' %}

{% block title %}page d'accueil{% endblock %}

{% block body %}
	<section>
		<main>
			{# carousel accueil #}
			<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{ asset('/media/images/background/bg2-2.jpg') }}" class="d-block w-100" style="max-height: 475px;" alt="Image 1">
						<div class="carousel-caption h-50">
							<h2>Découvrez notre large gamme de chaussettes de qualité, conçues pour répondre à tous vos besoins</h2>
						</div>
					</div>
					<div class="carousel-item">
						<img src="{{ asset('/media/images/background/bg4.jpg') }}" class="d-block w-100" style="max-height: 475px;" alt="Image 2">
						<div class="carousel-caption h-50">
							<h2>Donnez à vos pieds le confort qu'ils méritent avec nos chaussettes douces et respirantes, parfaites pour toute occasion</h2>
						</div>
					</div>
					<div class="carousel-item">
						<img src="{{ asset('/media/images/background/bg5.jpg') }}" class="d-block w-100" style="max-height: 475px;" alt="Image 3">
						<div class="carousel-caption h-50">
							<h2>Que vous soyez sportif, professionnel ou simplement à la recherche de chaussettes de tous les jours, nous avons ce qu'il vous faut</h2>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">suivant</span>
				</button>
			</div>

			{# zone d'argumentation #}

			<div>
				<img src="{{ asset('/media/images/element/argument.png') }}" alt="" class="w-100">
			</div>

		</section>

	</main>
{% endblock %}
