<form class="m-auto w-50">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">le sujet de votre contact</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"></label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">envoyer</button>
  </form>